<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../engine/Shopware/Components/Plugin/schema/plugin.xsd">
    <label lang="de">Kategorien Data Table Layout</label>
    <label lang="en">Category Data Table Layout</label>

    <version>1.0.2</version>
    <copyright>Friends of Shopware</copyright>
    <license>MIT</license>
    <link>https://friendsofshopware.github.io/</link>
    <author>Friends of Shopware</author>
    <compatibility minVersion="5.5.0" />

    <changelog version="1.0.2">
        <changes lang="de">Unterstütze Produktlayout auf Hersteller-Seiten</changes>
        <changes lang="en">Support Product-Layout in manufacturer listings</changes>
    </changelog>

    <changelog version="1.0.1">
        <changes lang="de">Unterstütze Produktlayout in Suchergebnissen</changes>
        <changes lang="en">Support Product-Layout in search results</changes>
    </changelog>

    <changelog version="1.0.0">
        <changes lang="de">Initial Release</changes>
        <changes lang="en">Initial Release</changes>
    </changelog>

    <description>
        <![CDATA[
            Adds data table to the available product layouts of categories
        ]]>
    </description>
    <description lang="de">
        <![CDATA[
            Daten-Tabelle als Produkt-Layout für Kategorien
        ]]>
    </description>
</plugin>